@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@using System.Web;
<!-- Image Header 
<img src="~/Images/aboutUs.jpg" style="img" class="img-fluid" alt="cabin"/>
 -->
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        
    </div>
</body>
</html>

