@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bookings list";
}

<h2>Users Bookings list</h2>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Manage users</a>
                        </li>
<p>Hello from our Admin Home!</p>
