@model CabinBookingWebApp.Models.Cabin

@{
    ViewData["Title"] = "Create";
}


<div class="container input-forms">
    <div >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1 class="home-text text-center">Create</h1>

<h4 class="home-text text-center">Cabin</h4>
<div class="form-group">
                <label asp-for="CabinName" class="control-label label-txt"></label>
                <input asp-for="CabinName" class="form-control rounded-0" />
                <span asp-validation-for="CabinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label label-txt"></label>
                <input asp-for="Description" class="form-control rounded-0" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label label-txt"></label>
                <input asp-for="Location" class="form-control rounded-0" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rooms" class="control-label label-txt"></label>
                <input asp-for="Rooms" class="form-control rounded-0" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label label-txt"></label>
                <input asp-for="Price" class="form-control rounded-0" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageUrl" class="control-label label-txt"></label>
                <input asp-for="MainImageUrl" class="form-control rounded-0" />
                <span asp-validation-for="MainImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonCapability" class="control-label label-txt"></label>
                <input asp-for="PersonCapability" class="form-control rounded-0" />
                <span asp-validation-for="PersonCapability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="w-100 btn btn-primary btn-colors" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
