@model CabinBookingWebApp.Models.Booking

@{
    ViewData["Title"] = "Create";
   
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="container input-forms">
<h4 class="home-text text-center">Confirm Booking</h4>
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label label-txt"></label>
                <input asp-for="CheckInDate" class="form-control rounded-0" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label label-txt"></label>
                <input asp-for="CheckOutDate" class="form-control rounded-0" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div id="warning" class="text-danger home-text mb-2">
           
            </div>

            <div class="form-group">
                <label class="control-label label-txt">Price Per Night</label> 
                 <b class="text-dark">€</b>
                <input  readonly id="PricePerNight" class="form-control rounded-0" value="@ViewData["PricePerNight"]" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label label-txt"></label>
                <b class="text-dark">€</b>
                <input asp-for="Price" class="form-control rounded-0" readonly />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <input hidden readonly id="DatesStart" class="form-control" value="@ViewData["DatesStart"]" />
            <input hidden readonly id="DatesEnd" class="form-control" value="@ViewData["DatesEnd"]" />
           
            <div hidden class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div hidden class="form-group">
                <label asp-for="CabinId" class="control-label"></label>
                <select asp-for="CabinId" class ="form-control" asp-items="ViewBag.CabinId"></select>
            </div>
            <div hidden class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class ="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" id="createBtn" value="Create" class="w-100 btn btn-primary btn-colors" />
            </div>
        </form>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
